name: .Net
on:
  push:
    branches:
    - master
  pull_request:
    types:
    - opened
    - synchronize
    - reopened
    - closed
    branches:
    - master
env:
  IS_RELEASE_CANDIDATE: >-
    ${{
      (
        github.event_name == 'pull_request' &&
        startsWith(github.event.pull_request.title, 'RELEASES:') &&
        contains(github.event.pull_request.labels.*.name, 'RELEASES')
      )
      ||
      (
        github.event_name == 'push' &&
        startsWith(github.event.head_commit.message, 'RELEASES:') &&
        startsWith(github.ref_name, 'RELEASE')
      )
    }}
jobs:
  build:
    runs-on: windows-2019
    steps:
    - name: Check out
      uses: actions/checkout@v2
    - name: Setup .Net
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 7.0.100-preview.1.22110.4
        include-prerelease: true
    - name: Restore
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
  add_tag:
    if: >
      github.event.pull_request.merged &&
      github.event.pull_request.base.ref == 'master' &&
      startsWith(github.event.pull_request.title, 'RELEASES:') &&
      contains(github.event.pull_request.labels.*.name, 'RELEASES')
    runs-on: ubuntu-latest
    needs:
    - build
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Extract Version Number
      id: extract_version
      run: |-
        echo "::set-output name=version_number::$(grep -oP '(?<=<Version>)[^<]+' ADotNet/ADotNet.csproj)"
    - name: Print Version Number
      run: |-
        echo "Version number is ${{ steps.extract_version.outputs.version_number }}"
    - name: Configure Git
      run: |-
        git config user.name "Add Git Release Tag Action"
        git config user.email "github.action@noreply.github.com"
    - name: Authenticate with GitHub
      uses: actions/checkout@v2
      with:
        token: ${{ secrets.PAT_FOR_TAGGING }}
    - name: Add Git Tag - Release
      run: |-
        git tag -a "release-${{ steps.extract_version.outputs.version_number }}" -m "Release ${{ steps.extract_version.outputs.version_number }}"
        git push origin --tags
